/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top-menu ul li a{
		padding: 10px 27px;
	}
	.top-menu ul{
		text-align: center;
	}
	.right{
		width: 700px;
	}
	.footer-logo{
		display: block;
		text-align: center;
	}
	.footer .address{
		margin: 0 auto;
	}
	.footer-menu-wrap{
		text-align: center;
		margin-top: 30px;
		display: block;
	}
	.footer-bottom{
		padding-top: 40px;
	}
	.footer-logo .address p:after{
		left: 40px;
	}
	.logo{
		margin-bottom: 20px;
	}
	.korpus label{
		padding: 5px 27px;
	}
	.slide2{
		text-align: center;
		margin-right: 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.top-menu{
		display: none;
	}
	.toggle_mnu{
		display: block;
	}
	.top{
		text-align: center;
	}
	.address p:after{
		left: 115px;
	}
	.logo{
		width: 270px;
	}
	.address{
		width: 450px;
	}
	.address p{
		padding-left: 60px;
	}
	.copy{
		float: none;
	}
	.f-text{
		float: none;
	}
	.footer-logo .address p:after{
		left: 115px;
	}
	.owl2 .owl-next,
	.owl2 .owl-prev{
		display: none;
	}
	.right{
		width: 600px;
	}
	.sec-4-wrap{
		text-align: center;
	}
	.korpus label{
		margin-right: 0;
		padding: 5px 11px;
	}
}
@media only screen and (max-width : 900px) {
	.right{
		width: 500px;
	}
}
@media only screen and (max-width : 815px) {
	.footer-logo .address p:after{
		left: 40px;
	}
	.address{
		width: 300px;
	}
	.address p:after{
		left: 40px;
	}
	.footer-menu{
		margin-top: 30px;
	}
	.left{
		width: 230px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	
}

@media only screen and (max-width : 690px) {
	
	.owl-text p{
		font-size: 18px;
	}
}

@media only screen and (max-width : 645px) {
	
}

@media only screen and (max-width : 530px) {
	.address{
		margin-bottom: 20px;
	}
	.owl-text p{
		font-size: 14px;
		line-height: 21px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#cp{
		display: none;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}