body, html{
	margin: 0;
	padding: 0;
	color: #3c3c3c;
	font-family: "Museo Sans Cyrl 300";
	font-size: 16px;
}
a{
	color: #3c3c3c;
	font-family: "Museo Sans Cyrl 500";
	font-size: 16px;
	text-decoration: none;
}
p{
	margin: 0;
}
.top{
	padding: 15px 15px 12px;
}
.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.22);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.22);
}
.logo{
	width: 330px;
	padding: 0 50px 0 10px;
	display: inline-block;
}
.address{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-top: 20px;
}
.address p{
	position: relative;
	padding-left: 30px;
}
.address p:after{
	position: absolute;
	content: '';
	background: url(../img/map.png) no-repeat;
	width: 12px;
	height: 18px;
	top: 0;
	left: 0;
}
.address a{
	font-family: "Museo Sans Cyrl 700";
	padding-left: 30px;
	position: relative;
	text-decoration: underline;
}
.address a:after{
	position: absolute;
	content: '';
	background: url(../img/mail.png) no-repeat;
	width: 15px;
	height: 11px;
	top: 5px;
	left: 0;
}
.phone{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	text-align: right;
}
.phone p{
	margin: 0;
	padding: 0;
	margin-top: 10px;
    margin-bottom: 15px;
}
.phone p span{
	font-family: "Museo Sans Cyrl 700";
	font-size: 21px;
}
.btn{
	text-transform: uppercase;
	font-family: "Museo Sans Cyrl 500";
	border: 3px solid #fa2625;
	background-color: transparent;
	padding: 10px 15px;
	width: 200px;
	height: 52px;
	cursor: pointer;
}
.btn-wrap{
	display: inline-block;
	vertical-align: 60px;
	margin-right: 15px;
}
.language{
	display: inline-block;
	width: 70px;
	vertical-align: 50px;
}
.language a{
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	padding-left: 30px;
	margin-top: 10px;
	opacity: .26;
}
.language a.active{
	opacity: 1;
}
.rus{
	position: relative;
}
.rus:after{
	position: absolute;
	content: "";
	background: url(../img/russia.jpg) no-repeat;
	width: 22px;
	height: 22px;
	top: 0px;
	left: 0;
}
.en{
	position: relative;
}
.en:after{
	position: absolute;
	content: "";
	background: url(../img/usa.jpg) no-repeat;
	width: 21px;
	height: 21px;
	top: 0px;
	left: 0;
}
.top-menu{
	background: #dbdbdb;
}
.top-menu ul{
	margin: 0;
	padding: 0;
}
.top-menu ul li{
	display: inline-block;
	padding: 8px 0;
}
.top-menu ul li a{
	text-transform: uppercase;
	display: block;
	padding: 10px 42px;
	border-right: 1px solid #e6e6e6;
}
.top-menu ul li:last-child a{
	border-right: none;
}
.owl-carousel{
	max-height: 450px;
	position: relative;
}
.img-wrap{
	position: relative;
}
.img-wrap:after{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../img/opacity.png);
}
.slide{
	position: relative;
}
.owl-next,
.owl-prev{
	position: absolute;
}
.owl-prev{
	background: url(../img/arrow-left.png) no-repeat;
	width: 19px;
	height: 33px;
	bottom: 30px;
	right: 100px;
}
.owl-prev:hover{
	background: url(../img/arrow-left-hover.png) no-repeat;
}
.owl-next{
	background: url(../img/arrow-right.png) no-repeat;
	width: 19px;
	height: 33px;
	bottom: 30px;
	right: 40px;
}
.owl-next:hover{
	background: url(../img/arrow-right-hover.png) no-repeat;
}
.owl-text{
	position: absolute;
	bottom: 80px;
	left: 60px;
	max-width: 710px;
}
.owl-text p{
	text-transform: uppercase;
	font-family: "Museo Sans Cyrl 500";
	font-size: 24px;
	color: #fff;
	line-height: 36px;
}
.slide-number{
	font-size: 18px;
	font-family: "Museo Sans Cyrl 500";
	color: #fff;
	position: absolute;
	bottom: 40px;
    right: 65px;
}
.left{
	width: 285px;
	background: #d5d5d5;
	display: inline-block;
}
.right{
	display: inline-block;
	vertical-align: top;
	max-width: 911px;
}
.body-text{
	color: #393939;
	padding-top: 10px;
}
h2.title{
	font-family: "Museo Sans Cyrl 900";
	font-size: 40px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 45px;
	margin-top: 70px;
	position: relative;
	display: inline-block;
}
h2.title:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 10px;
	background: #fa2625;
	top: -8px;
	left: 0;
}
.list{
	max-width: 870px;
	padding-bottom: 20px;
}
.list li{
	font-size: 21px;
	font-family: "Museo Sans Cyrl 500";
	list-style-image: url(../img/list.png);
	margin-bottom: 20px;
}
.left-item{
	font-size: 18px;
	line-height: 21px;
	padding: 25px 10px 25px 15px;
	border-bottom: 1px solid #bfbfbf;
}
.left-item p{
	margin: 0;
}
.sec-2-img{
	width: 420px;
	height: 186px;
	position: relative;
}
.sec-2-img:after{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../img/opacity2.png);
}
.sec-2-img img{
	width: 100%;
}
.sec-2-text{
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	max-width: 340px;
	position: absolute;
	top: 40px;
	left: 40px;
	text-align: center;
}
.sec-2-text.l-text{
	top: 20px;
}
.sec-2-text p{
	margin: 0;
}
.sec-2-item{
	position: relative;
	display: inline-block;
	margin-right: 11px;
	margin-bottom: 16px;
}
.btn2{
	font-family: "Museo Sans Cyrl 300";
	border: none;
	background-color: #fa2625;
	padding: 0;
	width: 240px;
	height: 35px;
	color: #fff;
	font-size: 18px;
	margin: 35px auto 0;
	display: block;
	cursor: pointer;
}
.sec-1-wrap{
	padding-left: 30px;
	padding-right: 15px;
}
.sec-2-wrap{
	padding-bottom: 100px;
	padding-left: 30px;
	padding-right: 15px;
}
.sec-3-wrap{
	padding-left: 30px;
	background: #fafafa;
	padding-right: 15px;
	padding-bottom: 70px;
}
.sec-4-wrap{
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 100px;
}
.sec-5-wrap{
	padding-left: 30px;
	background: #fafafa url(../img/bg_main.jpg) no-repeat;
	padding-right: 15px;
}
.sec-6-wrap{
	padding-top: 20px;
	padding-bottom: 140px;
	padding-left: 30px;
	padding-right: 15px;
}
.img-wrap2{
	width: 290px;
	height: auto;
	display: inline-block;
	margin-right: 25px;
}
.img-wrap2 img{
	width: 100%;
}
.slide2{
	border: 1px solid #d7d7d7;
	background: #fff;
	padding: 20px;
	max-width: 765px;
	margin-left: 30px;
}
.owl-text2{
	max-width: 380px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}
.owl-text2 p{
	margin: 0;
	font-size: 18px;
	line-height: 24px;
}
.owl2 .owl-next,
.owl2 .owl-prev{
	position: absolute;
}
.owl2 .owl-prev{
	background: url(../img/arrow-left2.png) no-repeat;
	width: 17px;
	height: 28px;
	bottom: 50%;
	left: 0px;
}
.owl2 .owl-prev:hover{
	background: url(../img/arrow-left-hover.png) no-repeat;
}
.owl2 .owl-next{
	background: url(../img/arrow-right2.png) no-repeat;
	width: 17px;
	height: 29px;
	bottom: 50%;
	right: 0;
}
.owl2 .owl-next:hover{
	background: url(../img/arrow-right-hover.png) no-repeat;
}
.owl-dots{
	margin-top: 20px;
	text-align: center;
}
.owl-dot{
	width: 14px;
	height: 14px;
	background: #d7d7d7;
	display: inline-block;
	margin-right: 2px;
}
.owl-dot.active{
	background: #fa2625;
}
.sec-4-text p span{
	font-size: 16px;
	font-family: "Museo Sans Cyrl 500";
	margin: 5px 0;
	display: block;
}
.sec-4-text p{
	font-size: 14px;
}
.sec-4-item{
	width: 270px;
	height: 370px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.sec-4-img{
	width: 270px;
	height: 230px;
	position: relative;
}
.sec-4-img img{
	width: 100%;
}
.sec-4-item-hover{
	background: rgba(0,0,0,.7) url(../img/zoom.png) no-repeat center;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.sec-4-img:hover .sec-4-item-hover{
	opacity: 1;
}
.sec-4-text{
	text-align: center;
	line-height: 21px;
}
.gallery .btn{
	text-transform: capitalize;
	font-size: 18px;
	font-family: "Museo Sans Cyrl 300";
	width: 235px;
	height: 40px;
	padding: 0;
	display: block;
	margin: 10px auto 0;
}
.korpus{
	height: 560px;
}
.korpus > div,
.korpus > input{
	display: none;
}
.korpus label{ 
	padding: 5px 60px; 
	cursor: pointer; 
	background: #e5e5e5;
	text-transform: uppercase;
	font-size: 16px;
	margin-right: 30px;
}
.korpus label:last-child{
	margin-right: 0;
}
.korpus input[type="radio"]:checked + label{
	background: #c9c9c9;
	position: relative;
}
.korpus input[type="radio"]:checked + label:after{
	position: absolute;
	content: "";
	display: block;
	bottom: -8px;
    left: 50%;
	background: url(../img/corner.png);
	width: 15px;
	height: 8px;
}
.korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3){ 
	display: block; 
	padding: 5px; 
}
.korpus-item p{
	font-size: 18px;
	margin-top: 30px;
}
.korpus-item p span{
	font-family: "Museo Sans Cyrl 700";
}
.sec-6-text p{
	font-size: 16px;
	line-height: 24px;
	margin-top: 24px;
}
.sec-6-top{
	background: #e5e5e5;
	text-transform: uppercase;
	font-family: "Museo Sans Cyrl 500";
	padding: 15px;
	position: relative;
	cursor: pointer;
}
.sec-6-top:after{
	position: absolute;
	content: "";
	display: block;
	background: url(../img/arrow-down.png) no-repeat;
	width: 18px;
	height: 11px;
	top: 40%;
    right: 10px;
}
.sec-6-text{
	display: none;
	padding-bottom: 60px;
}
.footer .top-menu{
	background: #e5e5e5;
	padding: 0 15px;
}
.footer-middle{
	background: #f0f0f0;
	padding: 35px 15px 0;
}
.footer .top-menu ul li a{
	border: 2px solid transparent;
	padding: 10px 28px;
}
.footer .top-menu ul li a:hover{
	border: 2px solid #fa2625;
}
.footer .address{
	display: block;
	margin: 20px 0;
}
.footer .phone{
	text-align: left;
}
.footer .logo{
	width: 270px;
}
.footer-menu p{
	font-family: "Museo Sans Cyrl 900";
	margin-bottom: 10px;
}
.footer-menu ul{
	margin: 0;
	padding: 0;
}
.footer-menu ul li{
	list-style: none;
	margin-bottom: 3px;
}
.footer-menu ul li a{
	font-family: "Museo Sans Cyrl 300";
}
.footer-logo{
	display: inline-block;
}
.footer-menu{
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}
.copy{
	float: left;
}
.f-text{
	float: right;
}
.footer-bottom{
	padding: 15px;
	background: #f0f0f0;
	font-size: 14px;
	overflow: hidden;
}
.toggle_mnu {
	background-color: transparent;
	border: medium none;
	border-radius: 10px;
	height: 40px;
	width: 50px;
	z-index: 100000;
	top: 40px;
	right: 30px;
	position: fixed;
	cursor: pointer;
	display: none;
}
.toggle_mnu:focus,
.sandwich.active .sw-topper:focus,
.sandwich.active .sw-bottom:focus,
.sandwich.active .sw-footer:focus {
	outline: none;
}
.toggle_mnu span {
	display: block;
}
.sandwich {
	bottom: 0;
	height: 38px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 10px;
	width: 50px;
	z-index: 200;
}
.sw-topper {
	background: #000 none repeat scroll 0 0;
	border: medium none;
	border-radius: 4px;
	height: 3px;
	left: 5px;
	position: relative;
	top: 0px;
	transition: transform 0.5s ease 0s, top 0.2s ease 0s;
	width: 40px;
}
.sw-bottom {
	background: #000 none repeat scroll 0 0;
	border: medium none;
	border-radius: 4px;
	height: 3px;
	position: relative;
	top: 5px;
	transition: transform 0.5s ease 0.2s, top 0.2s ease 0s;
	width: 40px;
	left: 5px;
}
.sw-footer {
	background: #000 none repeat scroll 0 0;
	border: medium none;
	border-radius: 4px;
	height: 4px;
	position: relative;
	top: 10px;
	transition: all 0.5s ease 0.1s;
	width: 40px;
	left: 5px;
}
.sandwich.active .sw-topper {
	top: 10px;
  -webkit-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
		  transform: rotate(-45deg);
}
.sandwich.active .sw-bottom {
	top: 6px;
  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
		  transform: rotate(45deg);
}
.sandwich.active .sw-footer {
	opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
		  transform: rotate(180deg);
}
#cp{
	position: fixed;
	right: -320px;
	top: 0px;
	width: 320px;
	height: 0px;
	background: #333;
	transition: right 0.3s linear 0s;
	color: #fff;
	text-transform: uppercase;
	z-index: 999;
}
.top-menu-s ul{
	margin: 0;
	padding: 20px;
}
.top-menu-s ul li{
	list-style: none;
}
.top-menu-s ul li a{
	color: #fff;
	font-family: "Museo Sans Cyrl 500";
	font-size: 16px;
	text-transform: capitalize;
}
.top-menu-s ul li{
	padding: 10px;
}